@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.oleo-script-swash-caps-regular {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-swash-caps-bold {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 700;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #09111d;
  color: #e8e8e0;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-serif {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 500;
  letter-spacing: -0.02em;
}
